p {
    font-size: 16px;
    font-weight: 500;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .card-header {
        margin-bottom: 2px;
    }
    .stats-body {
        gap: 10px;
        margin-top: 2px;
    }
    
    .stats-body p {
        font-size: 15px;
        margin: 6px 0;
        text-align: center;
    }
}

/* Very small screens */
@media (max-width: 480px) {
    .card-header {
        margin-bottom: 2px;
    }
    
    .stats-body p {
        font-size: 14px;
        margin: 5px 0;
    }
}